{% extends 'partials/base.html' %}

{% block content %}


<div class="container">
    <div class="row">
        <h1>Your Files</h1>
        <ul class="nav nav-tabs">
            <li class="active"><a aria-expanded="true" href="#content" data-toggle="tab">Content Library</a></li>
            <li class=""><a aria-expanded="false" href="#contracts" data-toggle="tab">My Contracts</a></li>
            <li class=""><a aria-expanded="false" href="#addressBook" data-toggle="tab">Address Book</a></li>
            <li class=""><a aria-expanded="false" href="#upload" data-toggle="tab">Purchase Content Hosting</a></li>
        </ul>
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="content">
                <div class="well">
                    <form class="form-horizontal" method="POST" enctype="multipart/form-data">{% csrf_token %}
                        <fieldset>
                            <div class="form-group">
                                <label for="upload" class="col-lg-2 control-label">Add Content</label>
                                <div class="col-lg-10">
                                    {{ upload_form.as_p }}
                                    <button type="submit" name="upload_file" class="btn btn-primary">
                                        Add File to Content Library
                                    </button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div class="col-lg-12">
                    <table class="table table-striped table-hover ">
                    <tbody>
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>🧲</th>
                                <th>File Size</th>
                                <th>Delete File</th>
                            </tr>
                        </thead>
                            {% for content in contents %}
                            <tr>
                                <td>{{ content.id }}</td>
                                <td>{{ content.name }}</td>
                                <td><a href="{{ content.magnetLink }}">🧲</a></td>
                                <td>{{ content.size_mb | floatformat:"-8" }} Mb</td>
                                <td>
                                    <form method="POST">{% csrf_token %}
                                        <button type="submit" name="remove_content_id" value="{{ content.id }}">🗑️</button>
                                    </form>
                                </td>
                            {% endfor %}
                    </tbody>
                    </table> 
                </div>
            </div>

            <div class="tab-pane fade" id="contracts">
                <div class="col-lg-12">
                    <table class="table table-striped table-hover ">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Seedbox Nickname</th>
                                <th>Content Name</th>
                                <th>🧲</th>
                                <th>Status</th>
                                <th>File Size</th>
                                <th>Total Uploaded</th>
                                <th>Fees Paid</th>
                                <th>Terminate</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for contract in contracts %}
                            <tr>
                                <td>{{ contract.contract_id }}</td>
                                <td>{{ contract.purchaser_pubkey }}</td>
                                <td>{{ contract.content_name }}</td>
                                <td><a href="{{ contract.magnet_link }}">🧲</a></td>
                                <td>
                                    <!--
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar  progress-bar-{{ contract.statusBar_type }}" style="width: {{ contract.statusBar_width }}%">
                                            {{ contract.statusBar_text }}
                                        </div>
                                    </div>
                                    -->
                                    {{ contract.status }}
                                </td>
                                <td>{{ contract.file_size }} Mb</td>
                                <td>{{ contract.total_uploaded }} kbps</td>
                                <td>王 {{ contract.fees_paid }}</td>
                                <td>
                                    <form method="POST">{% csrf_token %}
                                        <button type="submit" name="cancel_contract_id" value="{{ contract.contract_id }}">🗑️</button>
                                    </form>
                                </td>
                            </tr>
                            {% endfor %}
                    </tbody>
                    </table> 
                </div>
            </div>

            <div class="tab-pane fade" id="addressBook">
                <div class="well">
                    <form class="form-horizontal" method="POST">{% csrf_token %}
                        <fieldset>
                            <div class="form-group">
                                <label for="pubkey" class="col-lg-2 control-label">Add Single Pubkey</label>
                                <div class="col-lg-10">
                                    <input class="form-control" id="pubkey" placeholder="Enter pubkey..." type="text" name="pubkey">
                                    <button type="submit" name="add_pubkey" class="btn btn-primary">Add Pubkey To Address Book</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div class="col-lg-12">
                    <table class="table table-striped table-hover ">
                        <thead>
                            <tr>
                                <th>Pubkey</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for address in addressBook %}
                            <tr>
                                <td>{{ address.pubkey }}</td>
                                <td>
                                    <form method="POST">{% csrf_token %}
                                        <button type="submit" name="remove_address_id" value="{{ address.pubkey }}">🗑️</button>
                                    </form>
                                </td>
                            </tr>
                            {% endfor %}
                    </tbody>
                    </table> 
                </div>
            </div>  

            <div class="tab-pane fade" id="upload">
                <div class="col-lg-6">
                    <div class="well">
                        <form class="form-horizontal" method="POST">{% csrf_token %}
                            <fieldset>
                                <div class="form-group">
                                    <label for="chooseFile" class="col-lg-2 control-label">Choose File</label>
                                    <div class="col-lg-10">
                                        <select class="form-control" name="chosen_file" id="chooseFile">
                                            {% for file in contents %}
                                                <option>{{ file.name }} </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-10 col-lg-offset-2">
                                        <button type="cancel" class="btn btn-default" name="cancel">Cancel</button>
                                        <button type="submit" class="btn btn-primary" name="search_address_book">Search Your Address Book!</button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
                <div class="col-lg-4 col-lg-offset-1">
                    <h4>Matching Offers</h4>
                    <table class="table table-striped table-hover ">
                        <thead>
                            <tr>
                                <th>Seedbox Nickname</th>
                                <th>Sats/MB Fee</th>
                                <th>Take Offer</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if matching_offers %}
                                {% for offer in matching_offers %}
                                <tr>
                                    <td>{{ offer.pubkey }}</td>
                                    <td>{{ offer.cost_per_mb }}</td>
                                    <td>
                                        <form method="POST">{% csrf_token %}
                                            <button type="submit" class="btn btn-primary" name="accept_offer_id" value="{{ offer.pubkey }}">
                                                Accept Offer
                                            </button>
                                        </form>
                                    </td>
                                </tr>   
                                {% endfor %}
                            {% else %}
                            <tr>
                                <td>None</td>
                                <td>0</td>
                                <td>N/A</td>
                            </tr>   
                            {% endif %}
                    </tbody>
                    </table> 
            </div>
            

        </div>
    </div>
</div>

{% endblock content %}
