{% extends 'partials/base.html' %}

{% block content %}


<div class="container">
    <div class="row">
        <h1>Downloads</h1>
        <ul class="nav nav-tabs">
            <li class="active"><a aria-expanded="true" href="#search" data-toggle="tab">Search...</a></li>
            <li class=""><a aria-expanded="false" href="#downloads" data-toggle="tab">My Downloads</a></li>
            <li class=""><a aria-expanded="false" href="#addressBook" data-toggle="tab">Address Book</a></li>
        </ul>
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="search">
                <div class="well">
                    <form class="form-horizontal" method="POST" enctype="multipart/form-data">{% csrf_token %}
                        <fieldset>
                            <div class="form-group">
                                <label for="search">Search The Swarm</label>
                                <input class="form-control" id="search" placeholder="File name..." type="text" name="search">
                                <button type="submit" name="search" class="btn btn-primary">Search</button>
                            </div>
                        </fieldset>
                        Or
                        <fieldset>
                            <div class="form-group">
                                <label for="search">Enter A Magnet Link</label>
                                <input class="form-control" id="search" placeholder="File name..." type="text" name="search">
                                <button type="submit" name="search" class="btn btn-primary">Start Downloading</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div class="col-lg-12">
                    <table class="table table-striped table-hover ">
                    <tbody>
                        <thead>
                            <tr>
                                <th>File Name</th>
                                <th>Cost</th>
                                <th>File Size</th>
                                <th>Download</th>
                            </tr>
                        </thead>
                            {% for result in results %}
                            <tr>
                                <td>{{ content.name }}</td>
                                <td>{{ content.cost }}</td>
                                <td>{{ content.fileSize }}</td>
                                <td>
                                    <form method="POST">{% csrf_token %}
                                        <button type="download" name="download" value="{{ content.id }}">Download Now</button>
                                    </form>
                                </td>
                            {% endfor %}
                    </tbody>
                    </table> 
                </div>
            </div>

            <div class="tab-pane fade" id="downloads">
                <div class="col-lg-12">
                    <table class="table table-striped table-hover ">
                        <thead>
                            <tr>
                                <th>File Name</th>
                                <th>File Size</th>
                                <th>Downloaded</th>
                                <th>% Complete</th>
                                <th>Status</th>
                                <th>Open</th>
                                <th>Pause</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for download in downloads %}
                            <tr>
                                <td>{{ download.fileName }}</td>
                                <td>{{ download.fileSize }}</td>
                                <td>{{ download.percent }}</td>
                                <td>{{ download.status }}</td>
                                <td>
                                    <form method="POST">{% csrf_token %}
                                        <button type="submit" name="open_download" value="{{ download.openFile }}">▶️</button>
                                    </form>
                                </td>
                                <td>
                                    <form method="POST">{% csrf_token %}
                                        <button type="submit" name="pause_download" value="{{ download.pause }}">⏸️</button>
                                    </form>
                                </td>
                                <td>
                                    <form method="POST">{% csrf_token %}
                                        <button type="submit" name="delete_download" value="{{ download.delete }}">🗑️</button>
                                    </form>
                                </td>
                            </tr>
                            {% endfor %}
                    </tbody>
                    </table> 
                </div>
            </div>

            <div class="tab-pane fade" id="addressBook">
                <div class="well">
                    <form class="form-horizontal" method="POST">{% csrf_token %}
                        <fieldset>
                            <div class="form-group">
                                <label for="pubkey" class="col-lg-2 control-label">Add Single Pubkey</label>
                                <div class="col-lg-10">
                                    <input class="form-control" id="pubkey" placeholder="Enter pubkey..." type="text" name="pubkey">
                                    <button type="submit" name="add_pubkey" class="btn btn-primary">Add Pubkey To Address Book</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div class="col-lg-12">
                    <table class="table table-striped table-hover ">
                        <thead>
                            <tr>
                                <th>Pubkey</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for address in addressBook %}
                            <tr>
                                <td>{{ address.pubkey }}</td>
                                <td>
                                    <form method="POST">{% csrf_token %}
                                        <button type="submit" name="remove_address_id" value="{{ address.pubkey }}">🗑️</button>
                                    </form>
                                </td>
                            </tr>
                            {% endfor %}
                    </tbody>
                    </table> 
                </div>
            </div> 
        </div>
    </div>
</div>

{% endblock content %}