{% extends 'partials/base.html' %}

{% block content %}

<div class="container">

    <!-- Jumbotron -->
    <div class="jumbotron">
        <h1>Bitswarm Support</h1>
        <p>We are a small team with no revenue and no dedicated support staff. If you have questions send us an email. Hopefully someone remembers to check the email. Good luck!</p>
    </div>

</div>


{% endblock content %}
