{% extends 'partials/base.html' %}

{% block content %}



<div class="container">

    <!-- Jumbotron -->
    <div class="jumbotron">
        <h1>Bitswarm</h1>
        <p>Using <a href="https://bitcoin.org">Bitcoin</a>, <a href="https://lightning.engineering">Lightning Network</a>, and <a href="https://impervious.ai">Impervious</a>, Bitswarm is breathing new life into the distributed and peer-to-peer file sharing protocol <a href="https://www.bittorrent.org/">BitTorrent</a>.</p>
        <p><a href="{% url 'content' %}"><li>Pay the swarm to host your files</li></a></p>
        <p><a href="{% url 'seedbox' %}"><li>Get paid to host other people's files</li></a></p>
        <p>To learn more about the project check out our project files, or <a href="{% url 'help' %}">contact us</a>.</p>
        <p>
            <a class="btn btn-lg btn-primary" href="https://gitlab.com/coolshoeshine/seedbox/" role="button">View Source Code</a>
            <a class="btn btn-lg btn-primary" href="{% url 'help' %}">Contact Us</a>
        </p>
    </div>

    <!-- Typography -->
    <div class="row tall-row">
        <div class="col-lg-12">
            <h1>To get started, use the menu buttons in the top-right.</h1>
            <hr>
        </div>
    </div> </div>
</div>

{% endblock content %}
