{% extends 'partials/base.html' %}

{% block content %}

<div class="container">
    <h1>Invoices</h1>

    <hr>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Time</th>
                <th>Amount</th>
                <th>Type</th>
                <th>Pubkey</th>
            </tr>
        </thead>
        <tbody>
            {% for invoice in invoices %}
            <tr>
                <td>{{ invoice.time }}</td>
                <td>{{ invoice.amount }}</td>
                <td>{{ invoice.type }}</td>
                <td>{{ invoice.pubkey }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}
