{% extends 'partials/base.html' %}

{% block content %}


<div class="container">
    <div class="row">
        <h1>Seedbox Management</h3>
        <ul class="nav nav-tabs">
            <li class="active"><a aria-expanded="true" href="#torrents" data-toggle="tab">Torrents</a></li>
            <li class=""><a aria-expanded="false" href="#settings" data-toggle="tab">Settings</a></li>
        </ul>
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="torrents">
                <div class="col-lg-12">
                    <table class="table table-striped table-hover ">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>🧲</th>
                                <th>Status</th>
                                <th>File Size</th>
                                <th>Download Rate</th>
                                <th>Upload Rate</th>
                                <th>Total Downloaded</th>
                                <th>Total Uploaded</th>
                                <th>Copies Seeded</th>
                                <th>Earnings</th>
                                <th>Remove</th>
                                <th>Pause</th>
                            </tr>
                        </thead>
                            <tbody>
                                {% for torrent in torrents %}
                                <tr>
                                    <td>{{ torrent.id }}</td>
                                    <td>{{ torrent.name }}</td>
                                    <td><a href="{{ torrent.magnetLink }}">🧲</a></td>
                                    <td>
                                        <div class="progress progress-striped active">
                                            <div class="progress-bar  progress-bar-{{ torrent.statusBar_type }}" style="width: {{ torrent.statusBar_width }}%">
                                                {{ torrent.statusBar_text }}
                                            </div>
                                        </div>
                                    </td>
                                    <td>{{ torrent.sizeWhenDone }} bytes</td>
                                    <td>{{ torrent.rateDownload }} kbps</td>
                                    <td>{{ torrent.rateUpload }} kbps</td>
                                    <td>{{ torrent.downloadedEver }} bytes</td>
                                    <td>{{ torrent.uploadedEver }} bytes</td>
                                    <td>{{ torrent.uploadRatio }}</td>
                                    <td>王 {{ torrent.earnings }}</td>
                                    <td>
                                        <form method="POST">{% csrf_token %}
                                            <button type="submit" name="remove_torrent_id" value="{{ torrent.id }}">🗑️</button>
                                        </form>
                                    </td>
                                    <td>
                                        <form method="POST">{% csrf_token %}
                                            <button type="submit" name="pause_torrent_id" value="{{ torrent.id }}">⏸</button>
                                        </form>
                                    </td>
                                </tr>
                                {% endfor %}
                        </tbody>
                    </table> 
                </div>
            </div>

            <div class="tab-pane fade" id="settings">
                <div class="well">
                    <form class="form-horizontal" method="POST">{% csrf_token %}
                        <fieldset>
                            <div class="form-group">
                                <label for="select" class="col-lg-2 control-label">System Status</label>
                                <div class="col-lg-10">
                                    <select class="form-control" name="status" id="select">
                                        {% if seedbox_settings.status %}
                                        <option>Seedboxing On</option>
                                        <option>Seedboxing Off</option>
                                        {% else %}
                                        <option>Seedboxing Off</option>
                                        <option>Seedboxing On</option>
                                        {% endif %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="seedboxName" class="col-lg-2 control-label">Seedbox Nickname</label>
                                <div class="col-lg-10">
                                    {% if seedbox_settings.name %}
                                    <input class="form-control" name="seedboxName" id="seedboxName" type="text" value="{{ seedbox_settings.name }}">
                                    {% else %}
                                    <input class="form-control" name="seedboxName" id="seedboxName" placeholder="Seedbox Name" type="text">
                                    {% endif %}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="storage" class="col-lg-2 control-label">Maximum Disk Space</label>
                                <div class="col-lg-10">
                                    {% if seedbox_settings.max_disk_space > 0 %}
                                    <input class="form-control" name="max_disk_space" id="storage" type="text" value="{{ seedbox_settings.max_disk_space }}">
                                    {% else %}
                                    <input class="form-control" name="max_disk_space" id="storage" placeholder="Maximum Seedbox Storage Capacity ({{ seedbox_settings.total_available_disk_space }} GB Available)" type="text">
                                    {% endif %}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="fee" class="col-lg-2 control-label">Sats Per MB</label>
                                <div class="col-lg-10">
                                    {% if seedbox_settings.fee > 0 %}
                                    <input class="form-control" name="fee" id="fee" type="text" value="{{ seedbox_settings.fee }}">
                                    {% else %}
                                    <input class="form-control" name="fee" id="fee" placeholder="Seedboxing Fee" type="text">
                                    {% endif %}
                                </div>
                            </div>
                                <div class="col-lg-10 col-lg-offset-2">
                                    <button type="submit" name="cancel" class="btn btn-default">Cancel</button>
                                    <button type="submit" name="reset" class="btn btn-default">Reset to Defaults</button>
                                    <button type="submit" name="submit" class="btn btn-primary">Broadcast Seedbox Offer to Network</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
