{% extends 'partials/base.html' %}

{% block content %}


<div class="container">
    <h1>Test page for StreamingHttpResponse object</h1>
</div>

<div id="stream-content" class="stream-content">

</div>


<!-- Reference video: https://www.youtube.com/watch?v=iOV_vZW52bk -->
<script>
    var eventSource = new EventSource("{% url 'test-streaming-data' %}");

    eventSource.onopen = function () {
        console.log("we have an open connection!");
    }

    eventSource.onmessage = function(e) {
        console.log(e);
        parsed_data = JSON.parse(e.data);
        content = "";
        parsed_data.forEach(function(item) {
            content += buildContent(item['idx']);
        });

        document.getElementById('stream-content').innerHTML = content;

    }

    eventSource.onerror = function(e) {
        console.log('error: ', e);
    }

    function buildContent(idx) {
        let content = `<p>${idx}</p>`;
        return content
    }

</script>


{% endblock content %}