{% extends 'partials/base.html' %}

{% block content %}
{% load static %}


<div class="container">
    <h1>Websocket listener test</h1>
</div>

<div id="stream-content" class="stream-content"></div>




{% endblock content %}