

<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">Bitswarm</a>
        </div>

        
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="{% url 'index' %}">Home</a>
                </li>
                <li>
                    <a href="{% url 'seedbox' %}">Seedbox Manager</a>
                </li>
                <li>
                    <a href="{% url 'content' %}">My Content</a>
                </li>
                <li>
                    <a href="{% url 'download' %}">Downloads</a>
                </li>
                <li>
                    <a href="{% url 'invoices' %}">Invoices</a>
                </li>
                <li>
                    <a href="{% url 'help' %}">Help</a>
                </li>
            </ul>
        </div>

    </div>
</nav>


